src/main/resources/META-INF/spring-rpcservice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.study.com/schema/rpcservice"
            targetNamespace="http://www.study.com/schema/rpcservice"
            elementFormDefault="qualified">
    <xsd:element name="registry">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="server">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" />
        </xsd:complexType>
    </xsd:element>
</xsd:schema>